.subHeader__title {
    text-align: center;
    border-bottom: 1px solid;
    border-color: #3c1917;
    font-weight: 500;
    color: #3c1917;
    font-size: 30px;
    padding: 20px;
}


.subHeader__titles {
    color: #3c1917;
    text-shadow: 1px 0px 2px #7e7d78;
}

.subHeader__paragraph {
    font-weight: 700 ;
    line-height: 2;
    text-align: center;
    color: #3c1917;
    
}


.subHeader__paragraph--shadow {
    color: #3c1917;
    text-shadow: 1px 0px 2px #7e7d78;
    font-weight: 700 ;
    line-height: 2;
}
.subHeader_link {
    color: #3c1917;
    text-decoration: none;
    margin: 30px;
    text-shadow: 0px 1px 15px #8C8E99;
    font-weight: 700 ;

}

.subHeader_link:focus {
    border: 1px solid #3c1917;
    outline: none;
}

.subHeader_link:hover {
    border: 1px solid #3c1917;
}